<!DOCTYPE html>
<h1>Players</h1>
<a href='players-new'>Add new player</a>
<br>
<br>
<table id="playerTable" style="width:100%" class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Position</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Team</th>
    <th></th>
  </tr>
  {{#each results}}
  <tr id={{this.playerID}}>
    <td id="firstName" contenteditable="true" onblur="editPlayerRow()">{{this.firstName}}</td>
    <td id="lastName" contenteditable="true" onblur="editPlayerRow()">{{this.lastName}}</td>
    <td id="position">
      <select onchange="editPlayerDropdown()" name="position">
        <option value={{this.position}}>{{this.position}}</option>
        <option value="Quarterback">Quarterback</option>
        <option value="Running Back">Running Back</option>
        <option value="Wide Receiver">Wide Receiver</option>
        <option value="Tight End">Tight End</option>
        <option value="Kicker">Kicker</option>
      </select>
    </td>
    <td id="height" contenteditable="true" onblur="editPlayerRow()">{{this.height}}</td>
    <td id="weight" contenteditable="true" onblur="editPlayerRow()">{{this.weight}}</td>
    <td id="teamID">
      <select onchange="editPlayerDropdown()" name="team">
        <option value={{this.teamID}}>{{this.teamName}}</option>
        <option value="-1">Free Agent</option>
        {{#each ../teams}}
        <option value={{this.tID}}>{{this.tName}}</option>
        {{/each}}
    </select>
    </td>
    <td>
      <input id="delete" type="button" value="Delete" onclick="deletePlayerRow()">
    </td>
  </tr>
  {{/each}}
</table>
<script src="editTable.js"></script>