<!DOCTYPE html>
<h1>Players</h1>
<a href='players-new'>Add new player</a>
<br>
<br>
<table id="playerTable" style="width:100%" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Team</th>
    <th></th>
  </tr>
  {{#each results}}
  <tr id={{this.id}}>
    <td>{{this.playerName}}</td>
    <td>{{this.position}}</td>
    <td>{{this.height}}</td>
    <td>{{this.weight}}</td>
    <td>{{this.teamName}}</td>
    <td><button>Delete</button><button>Update</button></td>
  </tr>
  {{/each}}
</table>
<script></script>