<!DOCTYPE html>
<h1>Teams</h1>
<a href='teams-new'>Add new team</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Location</th>
    <th>Name</th>
    <th>Year Founded</th>
    <th>Majority Owner</th>
    <th>Conference</th>
    <th>Division</th>
    <th></th>
  </tr>
  {{#each results}}
  <tr id={{this.teamID}}>
    <td id="location" contenteditable="true" onblur="editRow()">{{this.location}}</td>
    <td id="name" contenteditable="true" onblur="editRow()">{{this.name}}</td>
    <td id="year_founded" contenteditable="true" onblur="editRow()">{{this.year_founded}}</td>
    <td id="majority_owner" contenteditable="true" onblur="editRow()">{{this.majority_owner}}</td>
    <td id="conference" contenteditable="true" onblur="editRow()">{{this.conference}}</td>
    <td id="division" contenteditable="true" onblur="editRow()">{{this.division}}</td>
    <td>
      <input type="button" value="Delete" onclick="deleteRow()">
    </td>
  </tr>
  {{/each}}
</table>
<script src="editTable.js"></script>